body, html{
	height:100%;
	width:100%;
}

body {
	font-family: 'Oswald', sans-serif;
}


.container {
	background-image: url("http://www.powerpointhintergrund.com/uploads/2017/05/patriotic-star-backgrounds-hd-wallpaper-at-wallpapersmap--21.jpeg"); 
	background-repeat: repeat;
	background-position: top;
	background-size: cover;
	height: 100%;
	width: 100%;
}

/*.fill {
	min-height: 100%;
	height: 100%;
}
*/
.navbar {
	width: 100%;
/*	max-height: 65px;*/
	border: 0;
	padding: 10px;
	background-color: black;
	background opacity: 0;
	font-weight: bolder;
}

.navbar-home {
	width: 100%;
	padding: 0px;
	border: 0;
	text-decoration:none;
    font-family:Arial;
    display: block
    background opacity: 0;
}

.navbar-title {
	width: 100%;
	padding: 0px;
	border: 0;
	text-decoration:none;
    font-family:Arial;
    display: block
}

.navbar-login {
	width: 100%;
	padding: 0px;
	border: 0;
	text-decoration:none;
    font-family:Arial;
    display: block
}

.navlink {
	font-size: 20px;
}

.navbar-homelink {
	max-width: 30px;
}

button {
	background-color: black;
	color: white;
	font-weight: bolder;
	font-style: ;
}
