body, html{
	height: 100%;
	width: 100%;
	background-image: url("http://www.powerpointhintergrund.com/uploads/2017/05/patriotic-star-backgrounds-hd-wallpaper-at-wallpapersmap--21.jpeg"); 
}
p {
	color: white;
}
button {
	background-color: black;
	color: white;
	font-weight: bolder;
}
.container {
	background-position: top;
	background-size: cover;
	height: 100%;
	width: 100%;
}
/*NAVBAR STYLING*/
.navbar-custom {
	width: 100%;
	border: 0;
	padding: 10px;
	background-color: black;
	font-weight: bolder;
}
.btn-nav {
	width: 100%;
	margin-top: 4px;
	padding: 0px;
	border: 0;
	font-size: 18px;
	text-decoration:none;
    display: block
	background-color: black;
	font-family: "Georgia", serif;
	font-weight: bolder;
	font-style: normal;
}
.title {
	width: 100%;
	margin-top: 3px;
	font-size: 22px;
	text-align: center;
	font-family: "Georgia", serif;
	font-weight: bolder;
	font-style: normal;
}
.star {
	color: white;
}
.who {
	color: red;
}
.reps {
	color: white;
}
.you {
	color: blue;
}
/*RESULTS STYLING*/
.senate_placeholder {
	float: left;
	margin: 2%;
	margin-top: 4px;
	padding: 10px;
	border: solid white 2px;
}
.thesenate {
	font-family: Georgia Serif;
	font-size: 30px;
	font-weight: bolder;
	color: red;
	margin-left: 18px;
}
.senate_name {
	font-weight: bolder;
	font-style: italic;
	font-size: 22px;
}
#clear {
	clear:both;
}
.congress_placeholder {
	float: left;
	margin: 2%;
	margin-top: 4px;
	padding: 5px;
	border: solid white 2px;
}
.thehouse {
	font-family: Georgia Serif;
	font-size: 30px;
	font-weight: bolder;
	color: blue;
	margin-left: 18px;
}
.congress_name {
	font-weight: bolder;
	font-style: italic;
	font-size: 22px;
} 
.fa-3x {
	margin-right: 6px;
	color: white;
}
