body, html{
	height:100%;
	width:100%;
}

.container {
	background-image: url("https://ssl.c.photoshelter.com/img-get2/I00005decq2CnCRQ/fit=1000x750/united-states-capitol-building-at-night-with-reflection-washington-panorama-107202454.jpg"); 
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.navbar-custom {
	width: 100%;
	border: 0;
	padding: 10px;
	background-color: black;
	font-weight: bolder;
}

.btn-nav {
	width: 100%;
	margin-top: 4px;
	padding: 0px;
	border: 0;
	font-size: 18px;
	text-decoration:none;
    display: block
	background-color: black;
	font-family: "Georgia", serif;
	font-weight: bolder;
	font-style: normal;
}

.title {
	width: 100%;
	margin-top: 3px;
	font-size: 22px;
	text-align: center;
	font-family: "Georgia", serif;
	font-weight: bolder;
	font-style: normal;
}
button {
	background-color: black
}

.star {
	color: white;
}

.who {
	color: red;
}

.reps {
	color: white;
}

.you {
	color: blue;
}

.intro-text {
	font-family: "Georgia", serif;
	font-size: 18px;
	font-style: italic;
	font-weight: bolder;
	color: black;
	text-align: center;
}

.search-div {
	margin-top: 65px;
}

.sumbit-row {
	padding-top: 0px;
	align-content: center;
}

.form-group {
	color: white;
	size: 20px;
	float: left;
}

.submit-div {
	float: left;
	padding-top: 1px;
}

select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font: normal 60px/60px arial;
}

#dropdown {
	width: auto;
}

.form-control {
	height: 45px;
	width: 150px;
	font-family: "Georgia", serif;
	font-size: 16px;
	font-weight: bolder;
}

#Select1 {
	color: white;
	background-color: red;
	border: solid black 1px;
	padding-bottom: 10px
}

.submitbtn {
	height: 45px;
	width: 150px;
	font-size: 25px;
	padding: 1px;
	color: white;
	background-color: blue;
	border: black;
	font-family: "Georgia", serif;
	font-size: 16px;
	font-weight: bolder;
	border: solid black 1px;
}

.congress_img .senate_img {
	width:40px;
	height:40px;
}

